<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="msgX: A Django based aap">
        <meta name="Keywords" content="msgX,Django">
        <meta name="author" content="Shuttle.com">
        
       
        <link href="indexMaiin.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>

        <div id="mainForm">
         <form method="POST" action=""> {% csrf_token %}
             {{ form.as_p}}
             Username: <input type="text" name=""><br>
             &nbspPassword: <input type="password" name=""><br>
             <br>
         <input type="submit" name="">     
         </form> 
         </div>
         <div id="mainContent">
         
         </div>
    
    </body>
</html>
            
            
