
#mainForm {
    padding-left: 1000px;
    margin-top: 0px;
    background-color: #33AD33;
    height: 100px;
    width: 280px;
    border-radius: 5px;
}

#mainContent {
    margin-top: 10px;
    background-color: #CCF5FF;
    height: 500px;
    width: 1282px;
    border-radius: 5px;
}
    
